*{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: darkgray;
}
img{
    max-width: 100%;
}
main{
    max-width: 540px;
    width: 100%;
    margin: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}
label{
    display: block;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    line-height: 22px;
    color: #545454;
    letter-spacing: -0.2px;
    margin-bottom: 7px;
    cursor: pointer;
}
input[type="text"], input[type="email"], select[name="country"] {
    max-width: 245px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.2px;
    margin-bottom: 20px;
    padding: 8px 10px;
    cursor: pointer;
}
input[type="text"]:focus, input[type="email"]:focus, select[name="country"]:focus, textarea:focus{
    outline: none;
    background: #FFFFFF;
    border: 1px solid #BC3F3F;
    box-sizing: border-box;
    border-radius: 6px;
}
textarea, input[type='email']{
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    padding: 8px 10px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}
.section_form{
    padding: 20px;
}
.section_title{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #1C1C1C;
    letter-spacing: -0.4px;
    margin-bottom: 20px;
}
.first_label{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.second_label{
    width: 50%;
}
.section_text{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
    margin-bottom: 20px;    
}

/* radio */
.radio_group{
    display: flex;
    margin-bottom: 20px;
}
.castome_radio__label{
    display: block;
    position: relative;
    padding-left: 28px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
    cursor: pointer;
}
.castome_first__label{
    margin-right: 20px;
}
.castome_radio__label input{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.castome_radio__label .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
}
.castome_radio__label input:checked ~ .checkmark{
    background-color: #007BFF;
}
.checkmark::after{
    content: '';
    position: absolute;
    display: none;
}
.castome_radio__label input:checked ~ .checkmark::after{
    display: block;
}
.castome_radio__label .checkmark::after{
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* bot */
.bot{
    max-width: 540px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.bot_text{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #969696;
    max-width: 410px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #E4E4E4;
}
.bot_text_link{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #007BFF;
    text-decoration: none;
}
.bot_title{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #545454;
    padding-top: 20px;
}
.bot_title_link{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.1px;
    color: #007BFF;
    text-decoration: none;
}

